extends: default
ignore-from-file:
  - .gitignore
rules:
  document-start: disable
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  line-length: disable
  truthy:
    ignore: .github/workflows/
  braces:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  brackets:
    forbid: false
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  octal-values: enable
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  empty-values: enable
  float-values: enable
  quoted-strings:
    quote-type: double
    required: only-when-needed
    allow-quoted-quotes: true
