STORK_AGENT_HOST={{ stork_agent_host }}
STORK_AGENT_PORT={{ stork_agent_port }}
{% if stork_agent_is_kea_dhcp %}
STORK_AGENT_PROMETHEUS_KEA_EXPORTER_ADDRESS={{ stork_agent_kea_exporter_address }}
STORK_AGENT_PROMETHEUS_KEA_EXPORTER_PORT={{ stork_agent_kea_exporter_port }}
{% endif %}
{% if stork_agent_is_bind9 %}
STORK_AGENT_PROMETHEUS_BIND9_EXPORTER_ADDRESS={{ stork_agent_bind9_exporter_address }}
STORK_AGENT_PROMETHEUS_BIND9_EXPORTER_PORT={{ stork_agent_bind9_exporter_port }}
{% endif %}
{% if stork_agent_config.keys() | length > 0 %}
{% for k, v in stork_agent_config | dictsort %}
STORK_AGENT_{{ k | upper }}={{ v }}
{% endfor %}
{% endif %}
