$ORIGIN .
$TTL {{ zone.ttl_seconds }}
{{ zone.zone_fqdn }} IN SOA {{ inventory_hostname }}. root.{{ zone.zone_fqdn }}. (
        {{ zone_serial }}{# {{ '%Y%m%d%M' | strftime }} #}
        {{ zone.soa.refresh_ttl_seconds }}
        {{ zone.soa.retry_ttl_seconds }}
        {{ zone.soa.expire_ttl_seconds }}
        {{ zone.soa.minimum_ttl_seconds }}
        )
        NS {{ inventory_hostname }}.
$ORIGIN {{ zone.zone_fqdn }}.
{% if zone.records is defined %}
{% for record in zone.records %}
{{ record | join(" ") }}
{% endfor %}
{% endif %}
