{
    "Dhcp4": {
        "interfaces-config": {
            "interfaces": [ "{{ ansible_default_ipv4.interface }}" ],
            "dhcp-socket-type": "{{ dhcp_accept_raw_ethernet | ternary("raw", "udp") }}"
        },
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/run/kea/kea4-ctrl-socket"
        },
        "lease-database": {
            "type": "memfile",
            "lfc-interval": {{ dhcp_lease_database_lfc_interval | int }}
        },
        "dhcp-ddns": {
            "enable-updates": true,
        },

        "ddns-qualifying-suffix": "{{ dhcp_ddns_qualifying_suffix }}",
        "ddns-override-client-update": {{ dhcp_ddns_override_client_update | string | lower }},

        "expired-leases-processing": {{ dhcp_expired_leases_processing | to_json }},
        "renew-timer": {{ dhcp_renew_timer | int }},
        "rebind-timer": {{ dhcp_rebind_timer | int }},
        "valid-lifetime": {{ dhcp_valid_lifetime | int }},
        "option-data": [
            {
                "name": "domain-name-servers",
                "data": "{{ dhcp_dns_servers | join(", ") }}"
            },
            {
                "name": "domain-name",
                "data": "{{ dhcp_search_domain | join(", ") }}"
            }
        ],
        "subnet4": [
        {% for subnet in dhcp_subnets %}
            {{ subnet | to_json }},
        {% endfor %}
        ],
        "loggers": [
            {
                "name": "kea-dhcp4",
                "output_options": [
                    {
                        "output": "stdout",
                        "pattern": "%-5p %m\n",
                    }
                ],
                "severity": "INFO",
                "debuglevel": 0
            }
        ]
    }
}
