{
    "Dhcp6": {
        "interfaces-config": { "interfaces": [ "" ] },
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/run/kea/kea6-ctrl-socket"
        },
        "lease-database": { "type": "memfile", },
        "option-data": [],
        "subnet6": [
            {
                "subnet": "",
                "pools": [],
                "pd-pools": [],
                "option-data": [],
            }
        ],
        "loggers": [
            {
                "name": "kea-dhcp6",
                "output_options": [
                    {
                        "output": "stdout",
                        "pattern": "%-5p %m\n",
                    }
                ],
                "severity": "INFO",
                "debuglevel": 0
            }
        ]
    }
}
