[Interface]
PrivateKey = {{ bt_wg_client_private_key }}
Address = {{ bt_wg_client_ip }}
MTU = {{ bt_wg_mtu }}
DNS = {{ bt_wg_dns }}
PostUp = ip rule add from {{ bt_private_network }} table main
PreDown = ip rule del from {{ bt_private_network }} table main

[Peer]
PublicKey = {{ bt_wg_server_pub_key }}
PresharedKey = {{ bt_wg_server_psk }}
AllowedIPs = 0.0.0.0/0,::/0
Endpoint = {{ bt_wg_server_endpoint }}
{% if bt_wg_nat_keepalive %}
PersistentKeepalive = {{ bt_wg_nat_keepalive_interval }}
{% endif %}
