[Unit]
Description=qBittorrent-nox service
Documentation=man:qbittorrent-nox(1)
Wants=network-online.target
After=network-online.target nss-lookup.target {{ bt_additional_mounts | map(attribute="systemd_mount") | join(" ") }}{% if bt_install_vpn +%} wg-quick@{{ bt_wg_interface }}.service{% endif %}{{''}}
{% if bt_install_vpn %}
Requries=wg-quick@{{ bt_wg_interface }}.service
{% endif %}
BindsTo={{ bt_additional_mounts | map(attribute="systemd_mount") | join(" ") }}

[Service]
{% if ansible_facts.packages["systemd"][0]["version"] is version("240", "<=") %}
Type=simple
{% else %}
Type=exec
{% endif %}
User=qbittorrent
Group=qbittorrent
WorkingDirectory=/mnt/qbittorrent/profile/qBittorrent
ExecStart=/usr/bin/qbittorrent-nox --webui-port={{ bt_webui_port }} --profile=/mnt/qbittorrent/profile
Restart=always
RestartSec=24
{% if ansible_facts.packages["qbittorrent-nox"][0]["version"] is version("4.2.0", "<=") %}
LimitNOFILE=infinity
{% endif %}

[Install]
WantedBy=multi-user.target
