vrrp_instance VI_1 {
    state {{ lb_is_primary | ternary("MASTER", "BACKUP") }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id {{ lb_vri }}
    priority {{ lb_is_primary | ternary(20, 15) }}
    advert_int 1
    authentication {
        auth_type AH
        auth_pass pass1234
    }
    virtual_ipaddress {
        10.0.3.20
    }
}
